{% extends "base.html" %}

{% block title %} Manage User {% endblock %}
{% block content %}
<script src="/static/script/manage.js"></script>
<h1>Manage User</h1>

<!-- Logout form -->
<form method="POST" onsubmit="return confirmLogout();">
    {{ form.hidden_tag() }}
    {{ form.submit }}
</form>

<!-- Edit User form -->
 <h2>Edit User</h2>
<form method="POST" onsubmit="return confirmEdit();">
    {{ form2.hidden_tag() }}
    {{ form2.username1.label }} {{ form2.username1 }} <br>
    {{ form2.password1.label }} {{ form2.password1 }} <br>
    {{ form2.editUsername.label }} {{ form2.editUsername }} <br>
    {{ form2.editPassword.label }} {{ form2.editPassword }} <br>
    {{ form2.submitEdit }}
    {% for error in form2.username1.errors %}
        <p style="color:red">{{ error }}</p>
    {% endfor %}
    {% for error in form2.password1.errors %}
        <p style="color:green">{{ error }}</p>
    {% endfor %}
</form>

<!-- Delete User form -->
 <h2>Delete User</h2>
<form method="POST" onsubmit="return confirmDelete();">
    {{ form3.hidden_tag() }}
    {{ form3.username2.label }} {{ form3.username2 }} <br>
    {{ form3.password2.label }} {{ form3.password2 }} <br>
    {{ form3.submitDelete }}
    {% for error in form3.username2.errors %}
        <p style="color:red">{{ error }}</p>
    {% endfor %}
    {% for error in form3.password2.errors %}
        <p style="color:green">{{ error }}</p>
    {% endfor %}
</form>

<!-- Show Data Form -->
 <h2>Show sensitive data</h2>
 <form method="POST">
    {{ form4.hidden_tag() }}
    {{ form4.username3.label }} {{ form4.username3 }} <br>
    {{ form4.password3.label }} {{ form4.password3 }} <br>
    {{ form4.showData }}
    {% for error in form4.username3.errors %}
        <p style="color:red">{{ error }}</p>
    {% endfor %}
 </form>


<!-- Delete Data Form -->
 <h2>Delete sensitive data</h2>
 <form method="POST">
    {{ form5.hidden_tag() }}
    {{ form5.username4.label }} {{ form5.username4 }} <br>
    {{ form5.password4.label }} {{ form5.password4 }} <br>
    {{ form5.deleteData }}
    {% for error in form5.username4.errors %}
        <p style="color:red">{{ error }}</p>
    {% endfor %}
    {% for error in form5.password4.errors %}
        <p style="color:green">{{ error }}</p>
    {% endfor %}
 </form>

{% if age %}
<h3> User Data </h3>
<p> Age: {{ age }} </p>
<p> Nationality: {{ nationality }} </p>
<p> City: {{ city }} </p>
<p> Gender: {{ gender }} </p>
<p> Email: {{ email }} </p>
{% endif %}
{% endblock %}  
